include MANIFEST.in
include LICENSE
include README.md
include CODE_OF_CONDUCT.md
include CITATION.md
include CONTRIBUTING.md
include citation.jsonld
include setup.py
include setup.cfg

include pyjac/utils.py
include pyjac/siteconf.py
include pyjac/__init__.py
include pyjac/__main__.py
include pyjac/_version.py
include pyjac/siteconf.py
include pyjac/logging.yaml
recursive-include pyjac/core *.py
recursive-include pyjac/functional_tester *.py *.yaml
recursive-include pyjac/loopy_utils *.py *.in
recursive-include pyjac/libgen *.py
recursive-include pyjac/kernel_utils *.py *.in *.h *.c *.oclh *.ocl
recursive-include pyjac/performance_tester *.py
recursive-include pyjac/pywrap *.py *.in
recursive-include pyjac/tests *.py *.inp * .cti *.in *.yaml
include test_platforms_example.yaml
include pyjac/site_conf_example.py
recursive-include data/ *.npy *.cti *.inp *.yaml
recursive-include pyjac/examples *.yaml *.py
recursive-include pyjac/schemas *.yaml *.py

global-exclude *.so
global-exclude *.pyd
global-exclude *.pyc
global-exclude *~
global-exclude \#*
global-exclude .git*
global-exclude .DS_Store
